Repository stobias123/terraform-excercises: changes, and which Atlantis projects are due for each by the changed paths.
All: excercise-09, excercise-10

atlantis.yaml:

version: 2
automerge: true
projects:
- name: excercise-09
  dir: ./exercise-09-atlantis
  workspace: default
  terraform_version: v0.11.13
  autoplan:
    when_modified: ["*.tf", "**/*.tf"]
- name: excercise-10
  dir: ./exercise-10-diy
  workspace: default
  terraform_version: v0.11.13
  autoplan:
    when_modified: ["*.tf", "**/*.tf"]
    enabled: true

testing
  exercise-09-atlantis/main.tf
  exercise-09-atlantis/services.tf
Due: excercise-09

fixing ssh key
  exercise-09-atlantis/services.tf
Due: excercise-09

adding exercise10
  exercise-10-diy/README.md
  exercise-10-diy/file
  exercise-10-diy/main.tf
Due: excercise-10

fixing atlantis
  atlantis.yaml
Due: none

adding module
  ec2_instance/README.md
  ec2_instance/main.tf
  ec2_instance/outputs.tf
  ec2_instance/variables.tf
Due: none

removing infra
  exercise-10-diy/main.tf
Due: excercise-10
